<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add ToDo</title>
</head>
<body>
    <a href="/todos">Home Page</a>
    <h1>Add ToDo</h1>

    <form action="/todos/create" method="post">
        <input type="text" name="name">
        <button type="submit">Add</button>
    </form>
</body>
</html>