<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Item</title>
</head>
<body>

        <div style="border: black 2px solid; width: 150px; border-radius: 10px;">
            <img src="<%= url %>" alt="" style="height: 150px; ">
            <div style="padding: 5px;">
                <h3><%= name %></h3>
                <h3>Price : <%= price %></h3>
            </div>
        </div>

</body>
</html>